/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.webshopTitle {
    font-size: 25pt;
    font-weight: bolder;
    margin: 25px 0px 0px 15px;
    font-family: 'Bad Script', cursive;
}

.webshopContainer {
    width: 800px;
    position: absolute;
    left: 180px;
}

/************************************************** Suchleiste ****************************/

.productSearchBar {
    width: 800px;
    height: 35px;
    background-image: linear-gradient(to top, #FFF9D9 10%, #FFF3BA 60%, white);
    float: left;
}

.searchCategoryLabel {
    font-weight: bold;
    font-size: 10pt;
    margin: 7px 0px 0px 15px;
    position: absolute;
}

.categoryBox {
    float: left;
    margin: 7px 0px 0px 130px;
    position: absolute;
}

.suggestBox {
    float: left;
    margin: 7px 0px 0px 280px;
    position: absolute;
    width: 240px;
}

.searchButton {
    float: left;
    margin: 6px 0px 0px 530px;
    width: 100px;
}

/************************************************** Gesuchte Artikel-Ansicht ****************************/

.searchedProductView {
    width: 780px;
    height: auto;
    margin: 10px;
}

.coloredRow {
    background:  #FFF9D9;
    width: 780px;
    height: 100px;
    clear: both;
}

.uncoloredRow {
    width: 780px;
    height: 100px;
    clear: both;
}

.overviewImgPanel {
    float:left;
    width: 80px;
    height: 80px;
    margin: 10px;
    position: relative;
}

.overviewProductNamePanel{
    margin: 7px 0px 0px 20px;
    clear: both;
}

.hylink{
    font-size: 12pt;
    margin-left: auto;
    margin-right: auto;
}

.overviewProductPricePanel {
    margin: 7px 7px 7px 0px;
    float: right;
    width: auto;
    position: relative;
    display: inline;
}

/************************************************** Detailview ****************************/
.productDetailView{
width: 780px;
height: 400px;
clear: both;
}

.dImagePanel{
width: 150px;
float: left;
height: 200px;
border-right-width: 1px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-width: 0px;
border-style: solid;
border-color: #F4EAD1;
}

.dProductInfoPanel {
padding: 10px;
width: 400px;
margin: 2px;
float: left;
}

.productSuggestionContainer {
float: right;
width: 170px;
height: 411px;
padding: 3px;
border-style: solid;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 1px;
border-top-width: 0px;
border-color: #F4EAD1;
clear: both;
position: absolute;
left: 605px;
}

/************************************************** Detailview - Details ****************************/

.searchedProductLabel {
font-size: 13pt;
}

.pricePanel {
width: 400px;
padding: 3px;
margin: 3px 10px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-width: 1px;
border-style: solid;
border-color: #F4EAD1;
}

.ratingLabel {
font-size: 7pt;
margin-top: 4px;
margin-left: 4px;
}

.detRatePanel {
margin-top: -2px;
}

.priceStringLabel{
margin-top: 3px;
margin-left: -13px
}
.priceLabel {
font-size: 13pt;
color: #880000;
}

.shippingLabel {
margin-top: 3px;
}

.basketButton {
width: 200px;
margin: 10px;
}

/************************************************** Ratingview ****************************/

.ratingView {
width: 400px;
position: absolute;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-width: 1px;
border-style: solid;
border-color: #F4EAD1;
top: 350px;
left: 180px;
height: 188px;
padding: 4px;
}

.ratedescriptionPanel{
margin-left: -20px;
}

.rateLabel {
position: absolute;
left: 120px;
top: 55px;
}

.customerNumberTextBox{
position: absolute;
left: 3px;
top: -28px;
}

.ratingPanel {

position: absolute;
left: 115px;
top: 60px;
}

.ratingTextArea{
resize: none;
position: absolute;
left: 3px;
top: 20px;
width: 285px;
height: 85px;
}

.rateProductButton{
position: absolute;
left: 145px;
top: 115px;
width: 150px;
}

.rateThisProductLabel{
margin: 3px;
}

.customerNumberLabel{
margin: 3px;
}

.starRatingLabel{
margin: 3px;
}

.ratingDescriptionLabel{
margin: 3px;
}

.sendButton {
  display: block;
  font-size: 16pt;

}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
