/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.webshopTitle {
    font-size: 25pt;
    font-weight: bolder;
    margin: 25px 0px 0px 15px;
    font-family: 'Bad Script', cursive;
}

.webshopContainer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/************************************************** Suchleiste ****************************/

.productSearchBar {
    width: 800px;
    height: 35px;
    background-image: linear-gradient(to top, #FFF9D9 10%, #FFF3BA 60%, white);
    float: left;
}

.searchCategoryLabel {
    font-weight: bold;
    font-size: 10pt;
    margin: 7px 0px 0px 15px;
    position: absolute;
}

.categoryBox {
    float: left;
    margin: 7px 0px 0px 130px;
    position: absolute;
}

.suggestBox {
    float: left;
    margin: 7px 0px 0px 280px;
    position: absolute;
    width: 240px;
}

.searchButton {
    float: left;
    margin: 6px 0px 0px 530px;
    width: 100px;
}

/************************************************** Gesuchte Artikel-Ansicht ****************************/

.searchedProductView {
    width: 780px;
    height: auto;
    margin: 10px;
}

.coloredRow {
    background:  #FFF9D9;
    width: 780px;
    height: 100px;
    clear: both;
}

.uncoloredRow {
    width: 780px;
    height: 100px;
    clear: both;
}

.overviewImgPanel {
    float:left;
    width: 80px;
    height: 80px;
    margin: 10px;
    background: grey;
    position: relative;
}

.overviewProductNamePanel{
    margin: 7px 0px 0px 20px;
    clear: both;
}

.hylink{
    font-size: 12pt;
    margin-left: auto;
    margin-right: auto;
}

.overviewProductPricePanel {
    margin: 7px 7px 7px 0px;
    float: right;
    width: auto;
    position: relative;
    display: inline;
}

/************************************************** Detailview ****************************/
.productDetailView{
width: 780px;
height: 400px;
clear: both;
}

.dImagePanel{
width: 150px;
float: left;
height: 200px;
border-right-width: 1px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-width: 0px;
border-style: solid;
border-color: #F4EAD1;
}

.dProductInfoPanel {
padding: 10px;
width: 430px;
margin: 2px;
background: green;
float: left;
}

.productSuggestionContainer {
float: right;
width: 170px;
height: 400px;
padding: 3px;
border-radius: 5px;
border-style: solid;
border-width: 1px;
border-color: blue;
}

/************************************************** Detailview - Details ****************************/




.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
